Datos en: https://www.kaggle.com/datasets/talhachoudary/sales-of-company/data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
clander = pd.read_csv('./clander.csv')
clientes = pd.read_csv('./customer.csv')
ordenes = pd.read_csv('./order.csv')
productos = pd.read_csv('./product.csv')

In [ ]:
# Set-up
%load_ext sql
%sql sqlite://

In [3]:
%sql drop table if exists clientes;
%sql --persist clientes

%sql drop table if exists ordenes;
%sql --persist ordenes

%config SqlMagic.style = '_DEPRECATED_DEFAULT'

 * sqlite://
Done.

KeyError: 'PLAIN_COLUMNS'

In [5]:
%sql

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [6]:
%%sql
SELECT *
FROM clientes
WHERE Country = "China"
LIMIT 10;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [7]:
%%sql
SELECT CustomerID AS Identificador,
        Country AS Pais,
        Gender AS Genero
FROM clientes
WHERE Country <> "China"
LIMIT 10;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [8]:
%%sql
SELECT CustomerID AS Identificador,
        Country AS Pais,
        Gender AS Genero
FROM clientes
WHERE CustomerID > 10
And CustomerID <20
LIMIT 10;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [9]:
%%sql
SELECT *
FROM clientes
WHERE Country LIKE 'S%'
LIMIT 5

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [10]:
%%sql
SELECT CustomerID AS IDCliente,
       Email AS Correo,
       Country AS Pais,
       Gender AS Genero
FROM clientes
WHERE Country = 'China'
  AND Gender = 'Male'
LIMIT 5

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [11]:
%%sql
SELECT Country AS Pais,
       MAX(CustomerID) AS MaxClientes,
       COUNT(CustomerID) AS Clientes,
       MIN(CustomerID) AS MinClientes
FROM clientes
GROUP BY Country
ORDER BY Clientes

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [12]:
%%sql
SELECT
  ordenes.OrderID AS Pedido,
  ordenes.CustomerID AS Cliente,
  clientes.Email AS Correo,
  clientes.Country AS Pais,
  clientes.Gender AS Genero
FROM ordenes
LEFT JOIN clientes
  ON ordenes.CustomerID = clientes.CustomerID
WHERE clientes.Country = 'China'
LIMIT 5

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [13]:
clientes

,CustomerID,FirstName,LastName,Email,PhoneNumber,Address,Unnamed: 6,Country,DateOfBirth,Gender
0,1,Konstance,Gate,kgate0@columbia.edu,965-452-1595,20 Maryland Parkway,NaN,Luxembourg,1/22/2024,Female
1,2,Felike,Kearford,fkearford1@dmoz.org,746-619-8677,1909 Kensington Alley,NaN,China,7/10/2024,Male
2,3,Darin,de Grey,ddegrey2@businessweek.com,904-948-4168,2 Fordem Hill,NaN,Portugal,10/19/2023,Male
3,4,Ainsley,Llewelyn,allewelyn3@weibo.com,599-923-9410,3 Blaine Hill,NaN,Russia,1/6/2024,Female
4,5,Conway,Matitiaho,cmatitiaho4@opera.com,162-877-0880,1 Morrow Park,NaN,Indonesia,6/28/2024,Male
...,...,...,...,...,...,...,...,...,...,...
995,996,Leta,Driver,ldriverrn@unblog.fr,544-749-8512,56460 Burrows Lane,NaN,China,7/9/2024,Genderqueer
996,997,Binky,Forrington,bforringtonro@geocities.com,681-919-0172,9 Hansons Terrace,NaN,Nigeria,11/5/2023,Male
997,998,Elbertina,Million,emillionrp@wisc.edu,121-231-9127,21 Buhler Pass,NaN,Indonesia,1/28/2024,Female
998,999,Nerte,Cassely,ncasselyrq@telegraph.co.uk,934-772-2867,721 Dunning Pass,NaN,Vietnam,8/11/2023,Female
999,1000,Maryellen,Carles,mcarlesrr@go.com,964-392-2657,788 Anhalt Road,NaN,Portugal,1/1/2024,Bigender

In [14]:
%%sql
SELECT CustomerID AS Identificador,
        Country AS Pais,
        Gender AS Genero,
        DateofBirth AS Fecha_Nacimiento
FROM clientes
WHERE DateofBirth > 01/01/2024
LIMIT 10;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])