Datos en: https://www.kaggle.com/datasets/talhachoudary/sales-of-company/data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
clander = pd.read_csv('./clander.csv')
clientes = pd.read_csv('./customer.csv')
ordenes = pd.read_csv('./order.csv')
productos = pd.read_csv('./product.csv')

In [3]:
clander

,date,day,month,year,quarter,weekday,week_number,Unnamed: 7,Unnamed: 8,season
0,10/19/2013,19,9,1999,3,Sunday,50,NaN,NaN,Winter
1,2/1/2005,30,12,1913,4,Monday,48,NaN,NaN,Spring
2,10/27/2010,3,11,2027,4,Saturday,15,NaN,NaN,Fall
3,3/30/2003,13,1,1990,3,Saturday,19,NaN,NaN,Winter
4,11/8/2008,9,11,2052,2,Monday,8,NaN,NaN,Fall
...,...,...,...,...,...,...,...,...,...,...
995,6/23/2021,16,10,2058,1,Friday,47,NaN,NaN,Summer
996,9/21/2018,10,12,1938,2,Thursday,51,NaN,NaN,Spring
997,7/27/2022,18,2,2011,4,Monday,8,NaN,NaN,Spring
998,5/30/2005,13,1,1935,2,Thursday,33,NaN,NaN,Summer
999,3/8/2018,18,12,1925,4,Monday,12,NaN,NaN,Spring

In [4]:
# Set-up
%load_ext sql
%sql sqlite://

ModuleNotFoundError: No module named 'sql'

In [ ]:
%sql drop table if exists clientes;
%sql --persist clientes

%sql drop table if exists ordenes;
%sql --persist ordenes

%config SqlMagic.style = '_DEPRECATED_DEFAULT'

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

In [ ]:
%sql

 * sqlite://

In [ ]:
%%sql
SELECT *
FROM clientes
WHERE Country = "China"
LIMIT 10;

 * sqlite://
Done.

[(1, 2, 'Felike', 'Kearford', 'fkearford1@dmoz.org', '746-619-8677', '1909 Kensington Alley', None, 'China', '7/10/2024', 'Male'),
 (6, 7, 'Derwin', 'Shiril', 'dshiril6@aboutads.info', '352-667-8485', '78 Vahlen Court', None, 'China', '9/4/2023', 'Genderfluid'),
 (8, 9, 'Rosalie', 'De Anesy', 'rdeanesy8@pen.io', '893-879-7539', '7783 Amoth Pass', None, 'China', '11/22/2023', 'Female'),
 (9, 10, 'Case', 'Lawry', 'clawry9@php.net', '307-400-1357', '218 Delladonna Way', None, 'China', '12/2/2023', 'Male'),
 (12, 13, 'Emera', 'Maskew', 'emaskewc@wikispaces.com', '882-684-0960', '142 Clyde Gallagher Alley', None, 'China', '7/31/2023', 'Female'),
 (23, 24, 'Rudiger', 'Greaser', 'rgreasern@uiuc.edu', '766-361-2381', '728 Thompson Hill', None, 'China', '2/2/2024', 'Male'),
 (26, 27, 'Faustine', 'Van Velden', 'fvanveldenq@com.com', '164-181-1720', '15929 Melby Lane', None, 'China', '8/21/2023', 'Female'),
 (30, 31, 'Toby', 'Haddeston', 'thaddestonu@nymag.com', '756-958-5901', '00 Iowa Lane', None, 'China', '1/13/2024', 'Female'),
 (31, 32, 'Chiquia', 'Buddles', 'cbuddlesv@spotify.com', '709-947-9592', '60336 Autumn Leaf Drive', None, 'China', '2/3/2024', 'Female'),
 (33, 34, 'Holmes', 'Galway', 'hgalwayx@i2i.jp', '845-544-9384', '4404 Sutteridge Center', None, 'China', '2/4/2024', 'Male')]

In [ ]:
%%sql
SELECT CustomerID AS Identificador,
        Country AS Pais,
        Gender AS Genero
FROM clientes
WHERE Country <> "China"
LIMIT 10;

 * sqlite://
Done.

[(1, 'Luxembourg', 'Female'),
 (3, 'Portugal', 'Male'),
 (4, 'Russia', 'Female'),
 (5, 'Indonesia', 'Male'),
 (6, 'Indonesia', 'Female'),
 (8, 'Philippines', 'Male'),
 (11, 'Indonesia', 'Female'),
 (12, 'Indonesia', 'Male'),
 (14, 'Peru', 'Female'),
 (15, 'Iran', 'Non-binary')]

In [ ]:
%%sql
SELECT CustomerID AS Identificador,
        Country AS Pais,
        Gender AS Genero
FROM clientes
WHERE CustomerID > 10
And CustomerID <20
LIMIT 10;

 * sqlite://
Done.

[(11, 'Indonesia', 'Female'),
 (12, 'Indonesia', 'Male'),
 (13, 'China', 'Female'),
 (14, 'Peru', 'Female'),
 (15, 'Iran', 'Non-binary'),
 (16, 'Netherlands', 'Male'),
 (17, 'United States', 'Male'),
 (18, 'Ecuador', 'Male'),
 (19, 'United Kingdom', 'Male')]

In [ ]:
%%sql
SELECT *
FROM clientes
WHERE Country LIKE 'S%'
LIMIT 5

 * sqlite://
Done.

[(24, 25, 'Abel', 'Chantree', 'achantreeo@accuweather.com', '245-717-9072', '334 Center Road', None, 'Saint Pierre and Miquelon', '6/11/2024', 'Male'),
 (25, 26, 'Noemi', 'Freake', 'nfreakep@hubpages.com', '437-115-4086', '507 Scoville Point', None, 'South Georgia and the South Sandwich Islands', '4/29/2024', 'Bigender'),
 (32, 33, 'Oliviero', 'Littlecote', 'olittlecotew@geocities.com', '341-341-7600', '2601 Hovde Place', None, 'Sweden', '4/12/2024', 'Male'),
 (43, 44, 'Sansone', 'Longson', 'slongson17@mapquest.com', '542-372-9874', '21 Grasskamp Circle', None, 'South Africa', '4/29/2024', 'Male'),
 (55, 56, 'Brewer', 'Pierucci', 'bpierucci1j@flickr.com', '618-863-6932', '759 Becker Point', None, 'Slovenia', '3/23/2024', 'Male')]

In [ ]:
%%sql
SELECT CustomerID AS IDCliente,
       Email AS Correo,
       Country AS Pais,
       Gender AS Genero
FROM clientes
WHERE Country = 'China'
  AND Gender = 'Male'
LIMIT 5

 * sqlite://
Done.

[(2, 'fkearford1@dmoz.org', 'China', 'Male'),
 (10, 'clawry9@php.net', 'China', 'Male'),
 (24, 'rgreasern@uiuc.edu', 'China', 'Male'),
 (34, 'hgalwayx@i2i.jp', 'China', 'Male'),
 (36, 'fduellz@weebly.com', 'China', 'Male')]

In [ ]:
%%sql
SELECT Country AS Pais,
       MAX(CustomerID) AS MaxClientes,
       COUNT(CustomerID) AS Clientes,
       MIN(CustomerID) AS MinClientes
FROM clientes
GROUP BY Country
ORDER BY Clientes

 * sqlite://
Done.

[('American Samoa', 37, 1, 37),
 ('Angola', 770, 1, 770),
 ('Australia', 622, 1, 622),
 ('Benin', 501, 1, 501),
 ('Bolivia', 111, 1, 111),
 ('Botswana', 190, 1, 190),
 ('Comoros', 424, 1, 424),
 ('Costa Rica', 126, 1, 126),
 ('Faroe Islands', 380, 1, 380),
 ('Greenland', 775, 1, 775),
 ('Guinea', 419, 1, 419),
 ('Haiti', 784, 1, 784),
 ('Iceland', 906, 1, 906),
 ('Iraq', 454, 1, 454),
 ('Italy', 313, 1, 313),
 ('Kuwait', 358, 1, 358),
 ('Liberia', 793, 1, 793),
 ('Lithuania', 359, 1, 359),
 ('Mali', 434, 1, 434),
 ('Marshall Islands', 205, 1, 205),
 ('Mauritania', 698, 1, 698),
 ('Micronesia', 347, 1, 347),
 ('Montenegro', 547, 1, 547),
 ('Namibia', 30, 1, 30),
 ('Nicaragua', 827, 1, 827),
 ('Niger', 398, 1, 398),
 ('Papua New Guinea', 535, 1, 535),
 ('Paraguay', 553, 1, 553),
 ('Republic of the Congo', 152, 1, 152),
 ('Rwanda', 847, 1, 847),
 ('Saint Pierre and Miquelon', 25, 1, 25),
 ('Serbia', 992, 1, 992),
 ('Slovakia', 451, 1, 451),
 ('South Georgia and the South Sandwich Islands', 26, 1, 26),
 ('Suriname', 431, 1, 431),
 ('Syria', 609, 1, 609),
 ('Tajikistan', 169, 1, 169),
 ('Trinidad and Tobago', 328, 1, 328),
 ('United Kingdom', 19, 1, 19),
 ('Azerbaijan', 533, 2, 240),
 ('Chile', 183, 2, 140),
 ('Cyprus', 339, 2, 321),
 ('Denmark', 78, 2, 49),
 ('El Salvador', 573, 2, 208),
 ('Estonia', 476, 2, 418),
 ('Ethiopia', 901, 2, 427),
 ('Hungary', 472, 2, 215),
 ('Kenya', 686, 2, 179),
 ('Luxembourg', 758, 2, 1),
 ('Madagascar', 305, 2, 276),
 ('Mauritius', 957, 2, 919),
 ('Myanmar', 195, 2, 94),
 ('New Zealand', 972, 2, 914),
 ('North Korea', 512, 2, 91),
 ('Norway', 159, 2, 82),
 ('Saudi Arabia', 671, 2, 139),
 ('Senegal', 458, 2, 116),
 ('Sierra Leone', 857, 2, 642),
 ('South Korea', 567, 2, 102),
 ('Uruguay', 663, 2, 605),
 ('Zimbabwe', 80, 2, 66),
 ('Bangladesh', 659, 3, 65),
 ('Cameroon', 967, 3, 874),
 ('Chad', 168, 3, 47),
 ('Cuba', 400, 3, 325),
 ('Dominican Republic', 963, 3, 812),
 ('Ecuador', 824, 3, 18),
 ('Finland', 729, 3, 249),
 ('Germany', 883, 3, 558),
 ('Guatemala', 964, 3, 148),
 ('Israel', 959, 3, 381),
 ('Ivory Coast', 810, 3, 132),
 ('Jordan', 926, 3, 266),
 ('Latvia', 725, 3, 364),
 ('Malaysia', 537, 3, 64),
 ('Nepal', 869, 3, 245),
 ('Sri Lanka', 574, 3, 344),
 ('Tunisia', 863, 3, 420),
 ('Venezuela', 736, 3, 433),
 ('Yemen', 961, 3, 267),
 ('Albania', 860, 4, 123),
 ('Belarus', 846, 4, 350),
 ('Bosnia and Herzegovina', 577, 4, 203),
 ('Bulgaria', 864, 4, 134),
 ('Jamaica', 993, 4, 21),
 ('Mongolia', 596, 4, 39),
 ('Spain', 721, 4, 367),
 ('Tanzania', 538, 4, 81),
 ('Uzbekistan', 994, 4, 41),
 ('Afghanistan', 854, 5, 438),
 ('Burkina Faso', 984, 5, 135),
 ('Egypt', 968, 5, 198),
 ('Honduras', 752, 5, 142),
 ('Ireland', 833, 5, 175),
 ('Macedonia', 920, 5, 631),
 ('Pakistan', 916, 5, 141),
 ('Panama', 845, 5, 234),
 ('Slovenia', 627, 5, 56),
 ('Uganda', 905, 5, 161),
 ('Armenia', 788, 6, 300),
 ('Iran', 830, 6, 15),
 ('Kazakhstan', 966, 6, 54),
 ('Palestinian Territory', 817, 6, 29),
 ('Netherlands', 638, 7, 16),
 ('Nigeria', 997, 7, 317),
 ('South Africa', 979, 7, 44),
 ('Czech Republic', 952, 9, 160),
 ('Morocco', 922, 9, 87),
 ('Vietnam', 999, 9, 40),
 ('Croatia', 852, 10, 86),
 ('Argentina', 929, 11, 128),
 ('Mexico', 982, 12, 74),
 ('Canada', 907, 13, 46),
 ('Colombia', 902, 14, 53),
 ('Greece', 884, 15, 70),
 ('Ukraine', 908, 15, 88),
 ('United States', 951, 16, 17),
 ('Thailand', 944, 17, 98),
 ('Peru', 832, 18, 14),
 ('Japan', 949, 20, 20),
 ('Poland', 983, 23, 57),
 ('Sweden', 981, 30, 33),
 ('France', 960, 31, 22),
 ('Brazil', 989, 32, 51),
 ('Portugal', 1000, 35, 3),
 ('Philippines', 995, 44, 8),
 ('Russia', 955, 53, 4),
 ('Indonesia', 998, 111, 5),
 ('China', 996, 182, 2)]

In [ ]:
%%sql
SELECT
  ordenes.OrderID AS Pedido,
  ordenes.CustomerID AS Cliente,
  clientes.Email AS Correo,
  clientes.Country AS Pais,
  clientes.Gender AS Genero
FROM ordenes
LEFT JOIN clientes
  ON ordenes.CustomerID = clientes.CustomerID
WHERE clientes.Country = 'China'
LIMIT 5

In [ ]:
clientes

,CustomerID,FirstName,LastName,Email,PhoneNumber,Address,Unnamed: 6,Country,DateOfBirth,Gender
0,1,Konstance,Gate,kgate0@columbia.edu,965-452-1595,20 Maryland Parkway,NaN,Luxembourg,1/22/2024,Female
1,2,Felike,Kearford,fkearford1@dmoz.org,746-619-8677,1909 Kensington Alley,NaN,China,7/10/2024,Male
2,3,Darin,de Grey,ddegrey2@businessweek.com,904-948-4168,2 Fordem Hill,NaN,Portugal,10/19/2023,Male
3,4,Ainsley,Llewelyn,allewelyn3@weibo.com,599-923-9410,3 Blaine Hill,NaN,Russia,1/6/2024,Female
4,5,Conway,Matitiaho,cmatitiaho4@opera.com,162-877-0880,1 Morrow Park,NaN,Indonesia,6/28/2024,Male
...,...,...,...,...,...,...,...,...,...,...
995,996,Leta,Driver,ldriverrn@unblog.fr,544-749-8512,56460 Burrows Lane,NaN,China,7/9/2024,Genderqueer
996,997,Binky,Forrington,bforringtonro@geocities.com,681-919-0172,9 Hansons Terrace,NaN,Nigeria,11/5/2023,Male
997,998,Elbertina,Million,emillionrp@wisc.edu,121-231-9127,21 Buhler Pass,NaN,Indonesia,1/28/2024,Female
998,999,Nerte,Cassely,ncasselyrq@telegraph.co.uk,934-772-2867,721 Dunning Pass,NaN,Vietnam,8/11/2023,Female
999,1000,Maryellen,Carles,mcarlesrr@go.com,964-392-2657,788 Anhalt Road,NaN,Portugal,1/1/2024,Bigender

In [ ]:
%%sql
SELECT CustomerID AS Identificador,
        Country AS Pais,
        Gender AS Genero,
        DateofBirth AS Fecha_Nacimiento
FROM clientes
WHERE DateofBirth > 01/01/2024
LIMIT 10;

 * sqlite://
Done.

[(1, 'Luxembourg', 'Female', '1/22/2024'),
 (2, 'China', 'Male', '7/10/2024'),
 (3, 'Portugal', 'Male', '10/19/2023'),
 (4, 'Russia', 'Female', '1/6/2024'),
 (5, 'Indonesia', 'Male', '6/28/2024'),
 (6, 'Indonesia', 'Female', '11/15/2023'),
 (7, 'China', 'Genderfluid', '9/4/2023'),
 (8, 'Philippines', 'Male', '1/4/2024'),
 (9, 'China', 'Female', '11/22/2023'),
 (10, 'China', 'Male', '12/2/2023')]