# Actividad 1 Programación y entorno de trabajo para la IA

### Realizado por: **Marco Fernández Pérez**

## Parte 1

Comenzamos con la importación de las librerías que se van a usar durante la actividad

In [2]:
import pandas as pd

Cargamos los datos de los tres trimestres

In [3]:
trimestre1 = pd.read_csv('./Hogwards - 20241T.csv')
trimestre2 = pd.read_csv('./Hogwards - 20242T.csv')
trimestre3 = pd.read_csv('./Hogwards - 20243T.csv')

In [4]:
trimestre1.head()

,ID,Name,Descriptive Name,Description,Domain,Owner,IsCompliance,Status,Version,NumberUsers
0,DP001,ProfeciaMonitor,Monitor de Pociones,"Data Product relacionado con adivinacion, util...",Adivinacion,Sybill Trelawney,True,Production,1.4.0,46
1,DP002,CriaturaWatch,Sistema de Seguimiento de Hechizos,"Data Product relacionado con pociones, utiliza...",Pociones,Severus Snape,True,Production,2.6.9,100
2,DP003,EstelarMap,Aplicacion de Transfiguraciones,"Data Product relacionado con pociones, utiliza...",Pociones,Severus Snape,False,Deprecated,0.4.1,38
3,DP004,Transfigurator,Monitor de Pociones,"Data Product relacionado con transformaciones,...",Transformaciones,Minerva McGonagall,False,Development,2.9.6,99
4,DP005,CriaturaWatch,Vigilante de Criaturas Magicas,"Data Product relacionado con transformaciones,...",Transformaciones,Minerva McGonagall,True,Production,2.3.7,51

In [8]:
trimestre1.shape

(50, 10)

In [9]:
trimestre2.shape

(70, 10)

In [10]:
trimestre3.shape

(87, 10)

Observamos si hay algún nulo

In [13]:
trimestre1.isna().sum()

ID                  0
Name                0
Descriptive Name    0
Description         0
Domain              0
Owner               0
IsCompliance        0
Status              0
Version             0
NumberUsers         0
dtype: int64

In [14]:
trimestre2.isna().sum()

ID                  0
Name                0
Descriptive Name    0
Description         0
Domain              0
Owner               0
IsCompliance        0
Status              0
Version             0
NumberUsers         0
dtype: int64

In [15]:
trimestre3.isna().sum()

ID                  0
Name                0
Descriptive Name    0
Description         0
Domain              0
Owner               0
IsCompliance        0
Status              0
Version             0
NumberUsers         0
dtype: int64

Ya vemos que no hay ningún dato nulo, por tanto, ahora pasamos a conseguir el número de *Data Products* existen actualmente.

In [18]:
merge = pd.merge(trimestre1, trimestre2, how='outer', on='ID')

merge = pd.merge(merge, trimestre3, how='outer', on='ID')

Number_of_Products = merge['ID'].nunique()

Number_of_Products

87

Ahora, buscamos el número de productos para cada dominio

In [21]:
Number_of_Products_by_Domain = merge.groupby('Domain')['ID'].nunique()

Number_of_Products_by_Domain

Domain
Adivinacion                         13
Astronomia                           7
Cuidado de Criaturas Magicas         7
Defensa Contra las Artes Oscuras    10
Encantamientos                       8
Herbologia                          10
Historia de la Magia                12
Pociones                            11
Transformaciones                     9
Name: ID, dtype: int64

Por último, buscamos el número de productos para cada estado

In [22]:
Number_of_Products_by_Status = merge.groupby('Status')['ID'].nunique()

Number_of_Products_by_Status

Status
Deprecated     21
Development    18
Planned        24
Production     24
Name: ID, dtype: int64

In [30]:
Number_of_Products_by_Domain_and_Status = (
    merge.groupby(['Domain', 'Status'])['ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
)

Number_of_Products_by_Domain_and_Status

Status,Domain,Deprecated,Development,Planned,Production
0,Adivinacion,1,3,2,7
1,Astronomia,1,1,3,2
2,Cuidado de Criaturas Magicas,2,0,2,3
3,Defensa Contra las Artes Oscuras,1,2,6,1
4,Encantamientos,3,3,0,2
5,Herbologia,3,0,6,1
6,Historia de la Magia,3,5,3,1
7,Pociones,3,2,1,5
8,Transformaciones,4,2,1,2

## Parte 2